<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <title>Michael Chladon</title>
  </head>
  <body>
    <%- include('layout/navbar'); -%>

    <div class="container text-center" id="about-container">
      <div class="row">
        <div class="col-md-6">
          <img
            height="570"
            width="240"
            src="/img/about.JPG"
            id="about-picture"
          />
        </div>
        <div class="col-md-6">
          <h1 class="emph-font">About Me</h1>
          <p>
            My name is Michael Chladon and I'm a senior at James Madison
            University studying Computer Science and Computer Information
            Systems.
          </p>
          <p>
            I have a passion for developing
            <strong>innovative technical solutions</strong> and
            <strong>delivering quality products.</strong>
          </p>
          <p>
            My current experience has come from
            <strong>interning at a major technology consulting firm</strong>,
            completing many <strong>academic and personal projects</strong>, and
            <strong
              >learning new skills quickly in time-sensitive
              environments.</strong>
          </p>
          <p>
            In my free time, I enjoy following all forms of motorsports such as
            NASCAR, IndyCar and Formula 1, playing guitar, and listening to
            music.
          </p>
        </div>
      </div>
    </div>

    <%- include('layout/footer-source'); -%>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
