<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <title>Michael Chladon</title>
  </head>
  <body>
    <%- include('layout/navbar'); -%>

    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-6 circle-img-container">
            <div
              class="circle-img-small"
              style="
                background-image: url('/img/projects/bah/group-picture.JPG');
              "
            ></div>
          </div>
          <div class="col-lg-6">
            <h1 class="emph-font">Booz Allen Hamilton</h1>
            <h4 class="emph-font">Digital Solutions Intern</h4>
            <h5 class="emph-font">June 2019 - August 2019</h5>
            <h5 class="emph-font">Summer 2020 (Cancelled due to COVID-19)</h5>
            <p>
              Developed a blockchain-supported dashboard for exchanging and
              tracking custom-built utility tokens for a Booz Allen client
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2 class="emph-font text-center">Skills Demonstrated</h2>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h4 class="emph-font text-center">Technology</h4>
          <ul>
            <li>Node.js</li>
            <li>Python</li>
            <li>Tableau</li>
            <li>Solidity</li>
            <li>Ganache</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="emph-font text-center">Project Management</h4>
          <ul>
            <li>Scrum</li>
            <li>Weekly presentations and demos to senior leadership</li>
            <li>Client Research</li>
            <li>Presentation Development (PowerPoint and Public Speaking)</li>
          </ul>
        </div>
      </div>
      <h2 class="emph-font text-center">Overview</h2>
      <hr />
      <p>
        I was selected to participate in the 2019 Booz Allen Hamilton Summer
        Games Internship program.
        <strong>Our team of five interns was given the task of researching and
        developing a blockchain solution for our client.</strong>
        Coming in with only a basic understanding of blockchain technology, I
        quickly got up to speed by learning how to write smart contracts in
        Solidity and deploy a local blockchain using Ganache.
      </p>
      <p>
        <strong>Our project required frequent communication with senior
        leadership</strong>
        and other departments within the company to ensure we understood the
        needs of the client. I
        <strong>participated in several presentations and design meetings to fully
        develop our solution.</strong>
        In our team, I proposed using Scrum, including weekly sprints and daily
        stand-ups, which led to
        <strong>an efficient and successful development process.</strong>
      </p>
      <p>
        Our final deliverable was
        <strong>a web dashboard built with Node.js, Python, and Tableau that
        interacted with a local blockchain and a custom-built utility
        token.</strong>
        We pitched our solution in an efficient and informative presentation to
        senior Booz Allen leadership.
      </p>
    </div>

    <%- include('layout/footer'); -%>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
