<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <title>Michael Chladon</title>
  </head>

  <body>
    <%- include('layout/navbar'); -%>

    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-6 circle-img-container">
            <div
              class="circle-img-small"
              style="background-image: url('/img/projects/itpm/cover.png');"
            ></div>
          </div>
          <div class="col-lg-6">
            <h1 class="emph-font">In The Pits Media</h1>
            <h4 class="emph-font">
              Radio Show Engineer and Social Media Coordinator
            </h4>
            <h5 class="emph-font">December 2014 - March 2019</h5>
            <p>
              Gained valuable experience in finding technical solutions in a
              time-sensitive environment
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2 class="emph-font text-center">Skills Demonstrated</h2>
      <hr />
      <div class="row text-center">
        <div class="col-md-6">
          <h4 class="emph-font text-center">Technology</h4>
          <ul>
            <li>Audio/video production for a weekly, two-hour radio show</li>
            <li>Social media management (Twitter, Facebook, Website)</li>
            <li>Photo editing and graphic design with Gimp</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="emph-font text-center">Communication</h4>
          <ul>
            <li>One-on-one media interviews with motorsports personalities</li>
            <li>Weekly content brainstorm meetings with senior leadership</li>
            <li>
              Interacting with industry representatives to organize interviews
            </li>
          </ul>
        </div>
      </div>
      <h2 class="emph-font text-center">Overview</h2>
      <hr />
      <p>
        My main role at In The Pits Media was
        <strong>running the technical aspects of the weekly, two hour radio
        show.</strong>
        The show was streamed live on their website and Facebook Live and later
        edited to publish on several platforms as a podcast. My weekly tasks
        included running and maintaining audio equipment such as microphones,
        recording software, and streaming software. In the event of technical
        issues during the show,
        <strong>I was required to quickly find solutions in order to keep the show
        running.</strong>
      </p>
      <p>
        I was also responsible for running the social media accounts for the
        show, creating unique content, promotional materials, and graphics.
        During my time at In The Pits Media, our
        <strong>Facebook page reach increased by 35% and led to a larger listening
        audience.</strong>
      </p>
      <p>
        In addition to working behind the scenes, I also coordinated and
        conducted exclusive media interviews with NASCAR, IndyCar, and Formula 1
        drivers and team owners. This gave me experience in
        <strong>crafting interesting, in-depth questions and professionally
        communicating with members of a large, multi-billion dollar
        industry.</strong>
      </p>
      <div class="row text-center">
        <div class="col-md-6">
          <img
            height="225px"
            width="350px"
            src="/img/projects/itpm/interview.jpg"
          />
        </div>
        <div class="col-md-6">
          <img
            height="225px"
            width="350px"
            src="/img/projects/itpm/interview2.jpg"
          />
        </div>
      </div>
    </div>

    <%- include('layout/footer'); -%>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
