<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Custom Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <title>Michael Chladon</title>
  </head>
  <body>
    <%- include('layout/navbar'); -%>

    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-6 circle-img-container">
            <div
              class="circle-img-small"
              style="
                background-image: url('/img/projects/pathfinding/cover.png');
              "
            ></div>
          </div>
          <div class="col-lg-6">
            <h1 class="emph-font">
              Optimizing Pathfinding Algorithms Using Parallel and Distributed
              Computing
            </h1>
            <h4 class="emph-font">Course Project</h4>
            <h5 class="emph-font">January 2020 - May 2020</h5>
            <p>
              Semester-long research project in a small group with the goal of
              analyzing the effects of parallelizing four existing algorithms
            </p>
            <div class="row">
              <div class="col">
                <a
                  href="/files/CS470-Pathfinding-FinalDeliverableReport.pdf"
                  target="_blank"
                  >
                  <button class="btn btn-primary">View Paper</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2 class="emph-font text-center">Skills Demonstrated</h2>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h4 class="emph-font text-center">Project Management</h4>
          <ul>
            <li>Team Leader for Small Group</li>
            <li>Defining Research Topic</li>
            <li>Setting Goals and Strategies</li>
            <li>Technical Writing</li>
            <li>Project Presentation</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="emph-font text-center">Technology</h4>
          <ul>
            <li>C Programming (Multi-Threaded and Multi-Process)</li>
            <li>MPI</li>
            <li>OpenMP</li>
          </ul>
        </div>
      </div>
      <h2 class="emph-font text-center">Overview</h2>
      <hr />
      <p>
        As a semester-long project in my Parallel and Distributed Systems course
        at JMU, a small group of students and I were tasked with
        <strong>designing and conducting a research project</strong> related to
        the course material.
        <strong>I formulated the specific project topic, set our team's goals and
        proposed strategies to achieve our goal.</strong>
      </p>
      <p>
        Each team member was responsible for working with an existing
        pathfinding algorithm that ran serially, and the goal was to parallelize
        the algorithm using parallel and distributed computing methods and
        analyze the runtime effects.
      </p>
      <p>
        We presented our results by
        <strong>writing a detailed report that described our experimental process and
        findings</strong>
        which can be viewed at the link at the top of the page. We also created
        a video presentation to discuss our project.
      </p>
      <p>
        Our team had to overcome various obstacles, both technical and
        COVID-related, but,
        <strong>as the team leader, I was able to guide our group and complete a
        challenging and successful project.</strong>
      </p>
    </div>

    <%- include('layout/footer'); -%>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
