body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

nav {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.emph-font {
  font-family: "Bebas Neue", cursive;
}

.navbar-brand {
  font-size: 25px;
}

.nav-item {
  font-size: 20px;
}

#homepage-jumbo {
  margin-bottom: 0;
}

.circle-img-container {
  display: flex;
  justify-content: center;
}

.circle-img-big {
  border: 2px solid rgb(42, 141, 255);
  border-radius: 150px;
  width: 300px;
  height: 300px;
  background-image: url("/img/headshot-sq.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 15px;
}

.circle-img-small {
  border: 2px solid rgb(42, 141, 255);
  border-radius: 125px;
  width: 250px;
  height: 250px;
  background-image: url("/img/headshot-sq.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 15px;
}

#tagline {
  text-align: center;
}

#skills-bar {
  margin-top: 0;
  background-color: rgb(39, 39, 39);
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

#skills-bar h2 {
  font-size: 45px;
}

#project-container {
  margin-top: 15px;
}

.project-box {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: rgb(0, 132, 255);
  margin-top: 20px;
}

.footer {
  padding: 10px;
  height: 100%;
  background-color: rgb(39, 39, 39);
  color: white;
}

footer {
  margin-top: 10px;
}

.footer hr {
  border-color: white;
}

.overlay {
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  padding: 20px 10px;
}

.overlay hr {
  border-color: white;
}

#about-picture {
  border: 2px solid rgb(39, 39, 39);
}

#about-container {
  margin-top: 15px;
}

.btn {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

#songtrace-carousel-wrapper {
  margin: 0 auto;
}

#songtrace-carousel {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

.icons {
  font-size: 45px;
}

.jumbotron {
  padding: 25px;
  background-color: rgba(160, 204, 255, 0.397);
}

ul {
  display: inline-block;
  text-align: left;
}

.footer p {
  font-size: 12px;
}
