<footer>
  <div class="container-fluid text-center footer">
    <h6>Michael Chladon</h6>
    <h6>Email: mjchladon@gmail.com</h6>
    <hr />
    <p>
      The source code I've written for this website can be found on my GitHub
      here.
    </p>
  </div>
</footer>
